.nav-pills .nav-active {
    color: #FFFFFF;
    background-color: #9e4560;
}

.nav-not-active {
    color: #000000 !important;
    background-color: #158cba;
}

html, body {
    width : 100%;
    height : 100%;
}

h1 {
    font-weight : bold;
    font-family: 'Oswald', sans-serif;
}

h2 {
    font-weight : bold;
    font-family: 'Oswald', sans-serif;
    text-align : center;
    padding: 2px;
}

p {
    text-align: justify;
}

#title {
    font-size : 42pt;
    font-family: 'Oswald', sans-serif;
    font-weight : 600;
}

#chart-container {
    max-width : 100%;
}

.count-sdg {
    text-align : center;
    font-size : 56pt;
    padding : 0;
    margin : 0;
    font-family: 'Oswald', sans-serif;
}

.count-text-sdg {
    text-align : center;
    font-family: 'Source Serif 4', serif;
}

.description {
    font-size : 18pt;
    color: gray;
    font-family: 'Source Serif 4', serif;
}

.sub-title {
    font-size : 45pt;
    text-align : center;
}

.card-subtitle {
    font-family: 'Source Serif 4', serif;
}

.card-text {
    font-family: 'Source Serif 4', serif;
}

.card-sdg:hover {
    background-color: #9e4560;
    color: #FFFFFF;
}

.card {
    margin : auto;
    padding : 0;
}
